
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Edit Products</h3>
            <p></p>

            <br>

            <form id="form" class="forms-sample" method="post" action="/admin/edit-products/<%= products._id  %> " enctype="multipart/form-data">

                <div class="row">
                    <div class="form-group col-md-10">
                        <img id="output" style="width:150px ;" src=/product-images/<%= products._id %>.jpg  alt="" srcset="">
                    </div>
                    
                    <div class="form-group col-md-5">
                        <p id="err"></p>
                        <label for="exampleInputName1">Name</label>
                        <input value="<%=products.name%>" type="text" class="form-control" id="name" placeholder="name" name="name" value="<%= products.name  %>">
                    </div>

                    <div class="form-group col-md-5">
                        <p id="err"></p>
                        <label for="exampleInputPassword4">Price</label>
                        <input value="<%=products.price%>" type="text" class="form-control" id="price" placeholder="Price"
                            name="price" >
                    </div>
 

                    <div class="form-group col-md-5">
                        <p id="err"></p>
                        <label for="exampleSelectGender">Category</label>
                        <select class="form-control" id="category"  name="category"  >
                            <% category.forEach((category)=>{ %> 
                            <option><%= category.name %> </option>
                            <% }) %> 
                        </select>
                    </div>


                    <div class="form-group col-md-5">
                        <p id="err"></p>
                        <label for="exampleInputPassword4">Stock</label>
                        <input type="text" class="form-control" id="stock" placeholder="stock"
                            name="stock" value="<%=products.quantity%>"  >
                    </div>


                    <div class="form-group col-md-10">
                        <p id="err"></p>
                        <label for="exampleTextarea1">Description</label>
                        <textarea value="<%=products.description%>" class="form-control" id="description" rows="5" name="description"><%- products.quantity%></textarea>
                    </div>

                    <div class="form-group col-md-10">
                        <p id="err"></p>
                        <label for="">Image</label>
                        <input   type="file" name="image" id="file" class="form-control" onchange="loadFile(event)"  >
                    </div>

                    
                    


                    <button type="submit" class="btn btn-primary ml-3 mr-2 col-md-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div> 

<script>
    var loadFile = function(event) {
      var output = document.getElementById('output');
      output.src = URL.createObjectURL(event.target.files[0]);
      output.onload = function() {
        URL.revokeObjectURL(output.src) // free memory
      }
    };
  </script>

