
    <div class="page-wrapper">
        

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('https://image.shutterstock.com/image-photo/simply-minimal-design-small-supermarket-260nw-1771380476.jpg')">
        		<div class="container">
        			<h1 class="page-title">Shopping Cart<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
			
			<% if(total) {%> 

            <div class="page-content">
            	<div class="cart">
	                <div class="container">
	                	<div class="row">
	                		<div class="col-lg-9">
	                			<table class="table table-cart table-mobile">
									<thead>
										<tr>
											<th>Product</th>
											<th>Price</th>
											<th>Quantity</th>
											<th style="visibility: hidden;">out of stock</th>
											<th>Total</th>
											<th></th>
										</tr>
									</thead>

									<tbody>
									
										<tr><% cartItems.forEach((item,index)=>{ %> 
											<td class="product-col">
												<div class="product">
													<figure class="product-media">
														<a href="/single-product/<%= item?.item  %> ">
															<img  src="/product-images/<%= item?.product.img[0] %>" alt="Product image">
														</a>
													</figure>

													<h3 class="product-title">
														<a href="#"><%= item.product?.name? item.product.name :"Temporarily Unavailable" %> </a>
													</h3><!-- End .product-title -->
												</div><!-- End .product -->
											</td>
											<td class="price-col"><%= item.product?.price %> </td>
											<td class="cart-col">
                                              
												<div class="d-flex">
												   <button id="dec-btn" style="border:0cm ;"  onclick="changeQuantity('<%=item._id %>','<%= item.product?._id%>',-1,'<%= user._id%>','<%= item.product?.price %>',this.parentElement.querySelector('span'),'<%= item.product.stock  %>',this)">-</button>
												   <span id="<%= item.product?._id %>" class="text-center" style="width:50px ;" >  <%= item.quantity %> </span>
												   <button id="<%= item.product._id  %>"     style="border:0cm ;" onclick="changeQuantity('<%=item._id %>','<%= item.product?._id%>',1,'<%= user._id%>','<%= item.product?.price %>',this.parentElement.querySelector('span'),'<%= item.product.stock  %>',this)">+</button>
                                               </div>
                                                      
                                            </td>
											<td >
											<p class="outofstock text-danger"> </p>
											</td>
											<td id="<%= item?._id %> " class="total-col"><%= item?.product?.price * item?.quantity %> </td>
											<td class="remove-col"><button onclick="removeProduct('<%= item?._id%>','<%= item.product?._id %>')" class="btn-remove"><i class="icon-close"></i></button></td>
										</tr>
                                        <% }) %> 
										
									</tbody>
								</table><!-- End .table table-wishlist -->

	                			<div class="cart-bottom">
			            			<div class="cart-discount">
			            				<form action="#">
			            					<div class="input-group">
				        						<input type="text" class="form-control" required placeholder="coupon code">
				        						<div class="input-group-append">
													<button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
												</div><!-- .End .input-group-append -->
			        						</div><!-- End .input-group -->
			            				</form>
			            			</div><!-- End .cart-discount -->

			            			<a href="#" class="btn btn-outline-dark-2" ><span>UPDATE CART</span><i class="icon-refresh"></i></a>
		            			</div><!-- End .cart-bottom -->
	                		</div><!-- End .col-lg-9 -->
	                		<aside class="col-lg-3">
	                			<div class="summary summary-cart">
	                				<h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

	                				<table class="table table-summary">
	                					<tbody>
	                						<tr class="summary-subtotal">
	                							<td>Subtotal:</td>
	                							<td id="total">₹ <%= total %> </td>
	                						</tr><!-- End .summary-subtotal -->
	                						<tr class="summary-shipping">
	                							<td>Shipping:</td>
	                							<td>&nbsp;</td>
	                						</tr>

	                						<tr class="summary-shipping-row">
	                							<td>
													<div class="custom-control custom-radio">
														<input checked type="radio" id="free-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="free-shipping">Free Shipping</label>
													</div><!-- End .custom-control -->
	                							</td>
	                							<td>$0.00</td>
	                						</tr><!-- End .summary-shipping-row -->

	                						<tr class="summary-shipping-row">
	                							<td>
	                								<div class="custom-control custom-radio">
														<input type="radio" id="standart-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="standart-shipping">Standart:</label>
													</div><!-- End .custom-control -->
	                							</td>
	                							<td>$10.00</td>
	                						</tr><!-- End .summary-shipping-row -->

	                						<tr class="summary-shipping-row">
	                							<td>
	                								<div class="custom-control custom-radio">
														<input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
														<label class="custom-control-label" for="express-shipping">Express:</label>
													</div><!-- End .custom-control -->
	                							</td>
	                							<td>$20.00</td>
	                						</tr><!-- End .summary-shipping-row -->

	                						<tr class="summary-shipping-estimate">
	                							<td>Estimate for Your Country<br> <a href="dashboard.html">Change address</a></td>
	                							<td>&nbsp;</td>
	                						</tr><!-- End .summary-shipping-estimate -->

	                						<tr class="summary-total">
	                							<td>Total:</td>
	                							<td id="billTotoal">₹ <%= total %></td>
	                						</tr><!-- End .summary-total -->
	                					</tbody>
	                				</table><!-- End .table table-summary -->
									
	                				<a href="http://localhost:8000/checkout" id="proceedToCheckOut"  class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
								
	                			</div><!-- End .summary -->

		            			<a href="category.html"  class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
								 
									
									
	                		</aside><!-- End .col-lg-3 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
		 <% }else{ %>
			<h2 class="text-center ">cart is empty</h2>
									<div class="d-flex justify-content-center">
										
										<img  src="/product-images/cartisempty.png " style="width:500px ;" alt="" srcset="">
									</div>	
			<% } %>  
       
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

   
   


</body>
<script>
	//change quantity and total
    function changeQuantity(cartId,prodId,count,userId,price,input,stock,button){
		
		let quantity=parseInt(document.getElementById(prodId).innerHTML)
        count=parseInt(count)
		let inputValue=parseInt(input.innerText)
		let stockValue=parseInt(stock)

		
	
		console.log(count,'-',inputValue)


		
		
		if(count==1 && stockValue-inputValue>0){
			console.log('if');
			count=1
		}else if(count==-1){
			console.log('else if');
		
			count=-1
		}else{
			Swal.fire({
			  icon: 'error',
			  title: 'Item is out of stock...',
			  text: 'happy shoping',
			  footer: '<a href="">Why do I have this issue?</a>'
			})
			console.log('else')
			count=0
		}

		
        $.ajax({
            url:'/change-product-quantity',
            data:{
                cart:cartId,
                product:prodId,
                count:count,
				userId:userId,
				quantity:quantity
            },
            method:'post',
			beforeSend:function(){
				if(quantity==1 && count==-1){
					return confirm('this item will be removed')
				}
			},
            success:(response)=>{

				
            	if(response.removeProduct){
					
					location.reload()
					
            	}else{
					document.getElementById(prodId).innerHTML=quantity+count
					let cartCount=parseInt(document.getElementById('cart-count').innerHTML)
					document.getElementById('cart-count').innerHTML=cartCount+count	
					let total=parseInt(input.innerText)*price
					input.parentElement.parentElement.parentElement.querySelector('td.total-col').innerText=total
					document.getElementById('total').innerHTML='₹ '+response.total
					document.getElementById('billTotoal').innerHTML='₹ '+response.total
				
				}
            
        }
        })
    }

	
	
	//remove cart product
	function removeProduct(cartId,prodId){
		$.ajax({
			url:'/remove-product',
			data:{
				cartId:cartId,
				productId:prodId
			},
			beforeSend:()=>{
				return confirm('this product will be deleted')
			},
			method:'post',
			success:(response)=>{
				location.reload()
			}
		})

		
	}

	
	
</script>