<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">

<!-- end of address -->

                <div class="accordion-summary" id="accordion-payment">
                   
                    <% address[0].address.forEach((address,index)=>{%> 
                        <div class="card my-4">
                            <div class="card-header" id="heading-3">
                                <h2 class="card-title">
                                    <input onclick="fillAddress('<%=address._id %>')" type="radio" name="address" class="collapsed" role="button" data-toggle="collapse"
                                        href="#collapse-<%= index+1 %>" id="address<%=index+1%>" aria-expanded="false" aria-controls="collapse-<%= index+1 %>">
                                        <label for="address<%=index+1%>"><%= address.firstName%> <%= address.lastName %> </label> 
                                    </input>
                                </h2>
                            </div><!-- End .card-header -->
                            <div id="collapse-<%= index+1 %>" class="collapse" aria-labelledby="heading-<%= index+1 %>"
                                data-parent="#accordion-payment">
                                <div class="card-body">
                                    <strong>address :</strong> <%= address.street+" "+address.town+" "+address.state+" "+address.pincode%> <br>
                                    <strong>mobile :</strong> <%= address.mobile%> <br>
                                    <strong>email :</strong> <%= address.email%> <br>
                                </div><!-- End .card-body -->
                            </div><!-- End .collapse -->
                        </div><!-- End .card -->

                    <% }) %>
                    <button class="btn btn-outline-success btn-sm py-1 " > + New address</button> 
                </div>

<!-- end of address -->

                <div class="checkout-discount">
                    <form action="">
                        <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to
                                enter your code</span></label>
                    </form>
                </div><!-- End .checkout-discount -->
                <form action="#">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-between">

                                        <label>First Name *</label>
                                        <p class="text-danger "></p>
                                    </div>
                                    <input type="text"  name="firstname" id="firstname"
                                        class="form-control" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-between">
                                        <label>Last Name *</label>
                                        <p class="text-danger"></p>
                                    </div>
                                    <input type="text" name="lastname" id="lastname" class="form-control" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                            <div>
                                <div class="d-flex justify-content-between">
                                    <label>Company Name (Optional)</label>
                                    <p class="text-danger"></p>
                                </div>
                                <input type="text" name="companyname" id="companyname" class="form-control">
                            </div>

                            <div>
                                <div class="d-flex justify-content-between">
                                    <label>Country *</label>
                                    <p class="text-danger"></p>
                                </div>
                                <input type="text" name="country" id="country" value="india" class="form-control" required>
                            </div>

                            <div>
                                <div class="d-flex justify-content-between">
                                    <label>Street address *</label>
                                    <p class="text-danger"></p>
                                </div>
                                <input type="text" name="address1" id="add" class="form-control"
                                     required>
                                <input type="text" name="address2" id="address2" class="form-control"
                                    placeholder="Appartments, suite, unit etc ..." required>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-between">
                                        <label>Town / City *</label>
                                        <p class="text-danger"></p>
                                    </div>
                                    <input type="text" name="town" id="town" class="form-control" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-between">
                                        <label>State / County *</label>
                                        <p class="text-danger"></p>
                                    </div>
                                    <input type="text" name="state" id="state" class="form-control" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-between">
                                        <label>Postcode / ZIP *</label>
                                        <p class="text-danger"></p>
                                    </div>
                                    <input type="text" name="pincode" id="pincode" class="form-control" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <div class="d-flex justify-content-between">
                                        <label>Phone *</label>
                                        <p class="text-danger"></p>
                                    </div>
                                    <input type="tel" name="mobile" id="mobile" class="form-control" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                            <div>
                                <div class="d-flex justify-content-between">
                                    <label>Email address *</label>
                                    <p class="text-danger"></p>
                                </div>
                                <input type="email" name="email" id="email"
                                    class="form-control" required>

                            </div>


                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkout-create-acc">
                                <label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
                            </div><!-- End .custom-checkbox -->

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                <label class="custom-control-label" for="checkout-diff-address">Ship to a different
                                    address?</label>
                            </div><!-- End .custom-checkbox -->

                            <label>Order notes (optional)</label>
                            <textarea class="form-control" cols="30" rows="4"
                                placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td><a href="#">Beige knitted elastic runner shoes</a></td>
                                            <td>$84.00</td>
                                        </tr>

                                        <tr>
                                            <td><a href="#">Blue utility pinafore denimdress</a></td>
                                            <td>$76,00</td>
                                        </tr>
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>$160.00</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>Rs <%= total? total:0 %>
                                            </td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    <div class="card">
                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title">
                                                <input type="radio" role="button" data-toggle="collapse" href="#collapse-1"
                                                    aria-expanded="true" aria-controls="collapse-1">
                                                    Direct bank transfer
                                                </input >
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Make your payment directly into our bank account. Please use your Order
                                                ID as the payment reference. Your order will not be shipped until the
                                                funds have cleared in our account.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-2">
                                            <h2 class="card-title">
                                                <input type="radio" class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                                    Check payments
                                                </input >
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-2" class="collapse" aria-labelledby="heading-2"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
                                                volutpat mattis eros. Nullam malesuada erat ut turpis.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-3">
                                            <h2 class="card-title">
                                                <input type="radio" class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-3" id="COD" aria-expanded="false" aria-controls="collapse-3">
                                                    <label for="cash on delivery">Cash on delivery</label> 
                                                </input>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit
                                                amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                                eros.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-4">
                                            <h2 class="card-title">
                                                <input type="radio" class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                                    PayPal <small class="float-right paypal-link">What is
                                                        PayPal?</small>
                                                </input >
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-4" class="collapse" aria-labelledby="heading-4"
                                            data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non,
                                                semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis
                                                fermentum.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-5">
                                            <h2 class="card-title">
                                                <input type="radio" class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                                    Credit Card (Stripe)
                                                    <img src="assets/images/payments-summary.png" alt="payments cards">
                                                </input >
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-5" class="collapse" aria-labelledby="heading-5"
                                            data-parent="#accordion-payment">
                                            <div class="card-body"> Donec nec justo eget felis facilisis fermentum.Lorem
                                                ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
                                                volutpat mattis eros. Lorem ipsum dolor sit ame.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->
                                </div><!-- End .accordion -->

                                <button type="button" class="btn btn-outline-primary-2 btn-order btn-block"
                                    onclick="validate()">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script>
    function validate() {
        console.log();
        const firstname = document.getElementById('firstname')
        const lastname = document.getElementById('lastname')
        const companyname = document.getElementById('companyname')
        const country = document.getElementById('country')
        const address1 = document.getElementById('add')
        // const address2 = document.getElementById('address2')
        const city = document.getElementById('town')
        const state = document.getElementById('state')
        const pincode = document.getElementById('pincode')
        const mobile = document.getElementById('mobile')
        const email = document.getElementById('email')

        const firstnameValue = firstname.value?.trim()
        const lastnameValue = lastname.value?.trim()
        const companynameValue = companyname.value?.trim()
        const countryValue = country.value?.trim()
        const address1Value = address1.value?.trim()
        // const address2Value = address2.value?.trim()
        const cityValue = city.value?.trim()
        const stateValue = state.value?.trim()
        const pincodeValue = pincode.value?.trim()
        const mobilevValue = mobile.value?.trim()
        const emailValue = email.value?.trim()

        const err1 = firstname.parentElement.querySelector('p')
        err1.innerText = ""
        const err2 = lastname.parentElement.querySelector('p')
        err2.innerText = ""
        const err3 = companyname.parentElement.querySelector('p')
        err3.innerText = ""
        const err4 = country.parentElement.querySelector('p')
        err4.innerText = ""
        const err5 = address1.parentElement.querySelector('p')
        err5.innerText = ""
        // const err6 = address2.parentElement.querySelector('p')
        // err6.innerText = ""
        const err7 = city.parentElement.querySelector('p')
        err7.innerText = ""
        const err8 = state.parentElement.querySelector('p')
        err8.innerText = ""
        const err9 = pincode.parentElement.querySelector('p')
        err9.innerText = ""
        const err10 = mobile.parentElement.querySelector('p')
        err10.innerText = ""
        const err11 = email.parentElement.querySelector('p')
        err11.innerText = ""

        let flag = 1
        //firstname
        if (firstnameValue == '') {
            err1.innerText = 'This field is required'
            flag = 2
        } else if (!firstnameValue.match(/[a-zA-Z]/)) {
            err1.innerText = 'Enter a valid name'
            flag = 2
        } else if (firstnameValue.length < 3) {
            err1.innerText = 'name should be atleast 3 characters'
            flag = 2
        }

        //lastname
        if (lastnameValue == '') {
            err2.innerText = "This field is required"
            flag = 2
        }

        //company
        if (companynameValue == '') {
            err3.innerText = "This field is required"
            flag = 2
        }

        //country
        if (countryValue == '') {
            err4.innerText = "This field is required"
            flag = 2
        }

        //adress1
        if (address1Value == "") {
            err5.innerText = "This field is required"
            flag = 2
        } else if (!address1Value.match(/^[a-zA-Z0-9\s,.'-]{3,}$/)) {
            err5.innerText = "not valid address"
            flag = 2
        }

        //adress2
        // if (address2Value == "") {
        //     err6.innerText = "This field is required"
        //     flag = 2
        // }

        //city
        if (cityValue == '') {
            err7.innerText = "This field is required"
            flag = 2
        }

        //state
        if (stateValue == '') {
            err8.innerText = "This field is required"
            flag = 2
        }

        //pincode
        if (pincodeValue == '') {
            err9.innerText = "This field is required"
            flag = 2
        } else if (!pincodeValue.match(/^[1-9][0-9]{5}$/)) {
            err9.innerText = 'enter a valid pincode'
            flag = 2
        }

        //mobile
        if (mobilevValue == '') {
            err10.innerText = "This field is required"
            flag = 2
        } else if (!mobilevValue.match(/^[7-9][0-9]{9}$/)) {
            err10.innerText = "Enter a valid phone number"
        }

        //email
        if (emailValue == '') {
            err11.innerText = "This field is required"
            flag = 2
        } else if (!emailValue.match(/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/)) {
            err2.innerText = 'Please enter a valid email'
            flag = 2
        }
        
        if (flag == 1) {
            let paymentMethod=document.getElementById('COD').value
            submit(
                firstnameValue,
                lastnameValue,
                companynameValue,
                countryValue,
                address1Value,
                // address2Value,
                cityValue,
                stateValue,
                pincodeValue,
                mobilevValue,
                emailValue,
                paymentMethod//send this also
            )
        }

        function submit(
            firstnameValue,
            lastnameValue,
            companynameValue,
            countryValue,
            address1Value,
            // address2Value,
            cityValue,
            stateValue,
            pincodeValue,
            mobilevValue,
            emailValue,
            paymentMethod
        ) {
            console.log('pressed');
            $.ajax({
                url: '/checkout',
                method: 'post',
                data: {
                    firstname: firstnameValue,
                    lastname: lastnameValue,
                    companyName: companynameValue,
                    country: countryValue,
                    street:address1Value,
                    // appartment:address2Value,
                    town:cityValue,
                    state:stateValue,
                    pincode:pincodeValue,
                    mobile:mobilevValue,
                    email:emailValue,
                    paymentMethod:paymentMethod
                },
                
                success: (response) => {
                    if(response.status=='success'){
                        console.log("success");
                       window.location.href='/ordersuccess'
                    }

                }
            })
        }
    }

    function fillAddress(address_id){
        console.log(address_id);

        $.ajax({
            url:'/fill-address/'+address_id,
            method:'get',
            success:(response)=>{
                console.log(response,"hi");
                document.getElementById('firstname').value=response.firstName
                document.getElementById('lastname').value=response.lastName
                // document.getElementById('companyname').value=response.firstName
                // document.getElementById('country').value=response.country
                document.getElementById('add').value=response.street
              
                document.getElementById('state').value=response.state
                document.getElementById('town').value=response.town
                document.getElementById('pincode').value=response.pincode
                document.getElementById('mobile').value=response.mobile
                document.getElementById('email').value=response.email
            }

        })
    }


</script>