<div class="page-header text-center"
  style="background-image: url('https://www.mydesignation.com/wp-content/uploads/2020/08/delivery-banner.jpg')">
  <div class="container">
    <h1 class="page-title">Checkout<span>Shop</span></h1>
  </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">

</nav><!-- End .breadcrumb-nav -->





<% const dataToReadable=(date)=>{

  const date_=new Date(date);
  let month=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
  let dd=date_.getDate()
  let mm=date_.getMonth()
  let monthText=date_.month(mm)
  let yyyy=date_.getFullYear()

  return `${isNaN(dd)?'00':dd}-${monthText}-${isNaN(yyyy)?'0000':yyyy}`

  } %>

  <% orders?.orders?.reverse()?.forEach(order=>{ %>
    <section class=" gradient-custom-2">
      <div class="container py-5 ">
        <div class="row d-flex justify-content-strart align-items-center">
          <div class="col-md-10 col-lg-8 col-xl-12">
            <div class="card card-stepper" style="border-radius: 19px;">


              <div class="card-header p-4">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body"> <%= order._id %>
                        </span></p>
                      <p class="text-muted mb-0"> Place On <span class="fw-bold text-body"> <%=order?.createdAt.getDate()+"/"+order?.createdAt.getMonth()+"/"+order?.createdAt.getFullYear()%>
                        </span> </p>
                      <p class="text-muted">Delivery Address : <span class="text-body"><%= order.shippingAddress.street%>
                        </span></p>
                      <p class="text-muted">pincode : <span class="text-body"><%= order.shippingAddress.pincode%>
                        </span></p>
                      <p class="text-muted">Contact Number : <span class="text-body"> <%= order.shippingAddress.mobile%>
                        </span></p>
                      <p class="text-muted">Email  <span class="text-body"><%= order.shippingAddress.email%></span></p>

                    </div>
                    <div>
                    </div>
                  </div>
              </div>


              <% order?.productDetails?.forEach((prodata,index)=>{ %>
                <div class="card-body p-4">
                  <div class="d-flex flex-row mb-1 pb-1">

                    <div class="flex-fill">
                      <h5 class="bold"><%= prodata.productsName %></h5>
                      <h6 class="fw-bold"> Qty: <%= prodata.quantity %> item</h6>
                      <h5 class="mb-3"> $ <%= prodata?.productsPrice %> <span class="small text-muted"> via (<%= order.paymentMethod %>) </span></h5>
                      <h6 class="mb-0"> <button class="btn"  onclick="downloadInvoice('<%= order._id %>','<%= index %>')" href="#">Download Invoice</a> </h6>

                    </div>

                    <div>
                        <img class="align-self-center img-fluid" src="/product-images/<%= prodata.imageName[0]  %> " width="150">
                        <%if(prodata.orderStatus==4){%>
                          <%}else{%>
                      <% if(prodata.orderStatus){%>
                        <button id="cancelBtn" onclick="cancelOrder('<%= prodata._id%>','<%= order._id %>')"style="width:10%;" class="btn btn-danger mt-1 p=0 border border-danger rounded">Cancel this item</button>
                      <%}else{%>
                        <button  disabled id="cancelBtn" style="width:10%;" class="btn btn-danger mt-1 p=0 border border-danger rounded">Item cancelled</button>
                      <%}%>
                      <%}%> <br>
                      <button id="cancelBtn" onclick="returnItem('<%= prodata._id%>','<%= order._id %>')" style="width:10%;" class="btn btn-success mt-1 p=0 border border-danger rounded">return</button>

                    </div>

                  </div>

                  <div class="col mt-5">
                    <div class="text-center">
                        Delivery Status
                        <div class="text-center">
                        <% if(prodata.orderStatus==1) {%>
                          <a style="width:150px ;" class="btn btn-dark py-2" href="">order Placed</a>
                        <% }else if(prodata.orderStatus==2) {%>
                          <a style="width:150px ;" class="btn btn-secondary py-2" href="">order dispatched</a>
                        <% }else if(prodata.orderStatus==3) {%>
                          <a style="width:150px ;" class="btn btn-warning py-2" href="">out for delivery</a>
                        <% }else if(prodata.orderStatus==4) {%>
                          <a style="width:150px ;" class="btn btn-success py-2" href="">delivered</a>
                        <% }else{ %>
                          <img class="text-center" style="margin-left:43% ;" width="150px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWZJD5PBopryWB_o1vo03kVAbPok7drN9XZg&usqp=CAU" alt="">
                        <% } %>
                          <hr>
                        </div>
                    </div>
                    
                   



                    <% }) %>

                      <div style="background-color:#CAD5E2 ;" class="card-footer p-3">
                        <div class="d-flex justify-content-around  ">
                          <h5 class="fw-normal mb-0"><a href="#!"> </a></h5>
                          <div class="border-start h-100"></div>
                          <% if(order.paymentStatus==0){%>
                            <h5 class="text-danger"><a href="#!">payment : pending </a></h5>
                            <%}else{%>
                              <h5 class=" text-success">payment : Completed </h5>
                              <%}%>
                                <div class="border-start h-100 "></div>
                                <h5 class="fw-normal mb-0"><a href="#!">Order Total: <%= order.totalPrice %> </a></h5>
                                <div class="border-start h-100"></div>
                                <h5 class="fw-normal mb-0"><a href="#!" class="text-muted"><i
                                      class="fas fa-ellipsis-v"></i></a>
                                </h5>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
          </div>
    </section>
    <% }) %>



    <script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js"></script>
      <script>

        function cancelOrder(prodId, orderId) {
          console.log(orderId, prodId);

          $.ajax({
            url: '/cancel-order',
            method: 'post',
            data: {
              orderId: orderId,
              prodId: prodId
            },
            beforeSend: () => {
              return confirm('this perticular order will be cancelled')
            },
            success: (response) => {
              if (response.status) {
                document.querySelector('#cancelBtn').disabled = true;
              }
              window.location.reload()
            }
          })
        }

        function returnItem(proId,orderId){
         
          $.ajax({
            url:'/return',
            method:'post',
            data:{
              prodId:proId,
              orderId:orderId
            },
            success:(response)=>{
              if(response.status){
                alert('priduct returned')
              }else{
                alert('prodct already returned')
              }
            }
            
          })
        }

        function downloadInvoice(orderId,index) {

          let timerInterval
              Swal.fire({
                title: 'Downloading !',
                html: 'download in<b></b> milliseconds.',
                timer: 3000,
                timerProgressBar: true,
                didOpen: () => {
                  Swal.showLoading()
                  const b = Swal.getHtmlContainer().querySelector('b')
                  timerInterval = setInterval(() => {
                    b.textContent = Swal.getTimerLeft()
                  }, 100)
                },
                willClose: () => {
                  clearInterval(timerInterval)
                }
              }).then((result) => {
                /* Read more about handling dismissals below */
                if (result.dismiss === Swal.DismissReason.timer) {
                  console.log('I was closed by the timer')
                }
          })
   

          $.ajax({
            url:'/get-order-data/'+orderId,
            method:'get',
            success:(response)=>{
              console.log(response.orders.productDetails);
              let orderData=response.orders
              var data = getSampleData(orderData,index);
              easyinvoice.createInvoice(data, function(result) {
                easyinvoice.download('myInvoice.pdf', result.pdf);
                console.log('downloading');
    
              });
            }
          })
        }  

        function getSampleData(orderData,index) {

        return {

        images: {
            logo: 'https://designs.bobcares.com/wp-content/uploads/2018/01/Dress-Up_new.png',
            // background: 'https://public.easyinvoice.cloud/img/watermark-draft.jpg'
        },
        sender: {
            company: 'Dress Up',
            address: 'Infopark Street 24',
            zip: '680712',
            city: 'Kochi',
            country: 'India'
            // "custom1": "custom value 1",
            // "custom2": "custom value 2",
            // "custom3": "custom value 3"
        },
        client: {
            company: orderData.firstName+' '+orderData.lastName,
            address: orderData.shippingAddress.street,
            zip: orderData.shippingAddress.pincode,
            city: orderData.shippingAddress.town,
            country: orderData.shippingAddress.country,
            // "custom1": "custom value 1",
            // "custom2": "custom value 2",
            // "custom3": "custom value 3"
        },
        
        
        information: {
            number: orderData.mobile,
            date: orderData.createdAt,
            'due-date': '31-12-2021'
        },
       
        products: [
            {
                quantity: orderData?.productDetails[index]?.quantity,
                description: orderData?.productDetails[index]?.productsName,
                'tax-rate': 0,
                price: orderData?.productDetails[index]?.productsPrice
            },
            
        ],
       
        'bottom-notice': 'Kindly pay your invoice within 15 days.',
        settings: {
            currency: 'INR' // See documentation 'Locales and Currency' for more info. Leave empty for no currency.
          
        }
  
      };
    } 

      </script>

      <style>
        .gradient-custom-2 {
          /* fallback for old browsers */
          background: #fff5f5df;


        }

        #progressbar-1 {
          color: #455A64;
        }

        #progressbar-1 li {
          list-style-type: none;
          font-size: 13px;
          width: 33.33%;
          float: left;
          position: relative;
        }

        #progressbar-1 #step1:before {
          content: "1";
          color: #fff;
          width: 29px;
          margin-left: 22px;
          padding-left: 11px;
        }

        #progressbar-1 #step2:before {
          content: "2";
          color: #fff;
          width: 29px;
        }

        #progressbar-1 #step3:before {
          content: "3";
          color: #fff;
          width: 29px;
          margin-right: 22px;
          text-align: center;
        }

        #progressbar-1 li:before {
          line-height: 29px;
          display: block;
          font-size: 12px;
          background: #455A64;
          border-radius: 50%;
          margin: auto;
        }

        #progressbar-1 li:after {
          content: '';
          width: 121%;
          height: 2px;
          background: #455A64;
          position: absolute;
          left: 0%;
          right: 0%;
          top: 15px;
          z-index: -1;
        }

        #progressbar-1 li:nth-child(2):after {
          left: 50%
        }

        #progressbar-1 li:nth-child(1):after {
          left: 25%;
          width: 121%
        }

        #progressbar-1 li:nth-child(3):after {
          left: 25%;
          width: 50%;
        }

        #progressbar-1 li.active:before,
        #progressbar-1 li.active:after {
          background: #1266f1;
        }

        .card-stepper {
          z-index: 0
        }
      </style>